<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="LlHVeXer_ldeNKL9m5xOoqhuPHzQi88RcJfoDCeuo50" />
  <title>{{ page.title }}</title>
  <meta name="description" content="Cheng-Nan Liu's personal website, featuring hydrothermal system research, machine learning in geophysics, and more.">
  <meta name="keywords" content="Cheng-Nan Liu, geophysics, hydrothermal system, machine learning, seismology">
  <meta name="author" content="Cheng-Nan Liu">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css">
</head>

