---
layout: default
---
  <!-- Cover Image Section -->
  <div markdown="0" class="cover-image-container" style="text-align: center; margin: 20px 0;">
    <img src="{{ site.url }}{{ site.baseurl }}/images/cover/IMG_0318.JPG" 
        alt="Cover Image" 
        style="width: 100%; max-height: 400px; object-fit: cover; border-radius: 5px;">
  </div>

  <div id="homeid" class="col-sm-8">
        <h1 style="font-size: 2em;">Welcome to Cheng-Nan Liu's Website!</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
